/* Write your code here. */
* Write your code here. */ * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.notifications-app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
